.about{
    margin-left: 21px;
    width: 1299px;
    height: 875px;
    display:flex;
}
.photo img{
  padding-top: 32px;
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.photo{
    flex: 0.5;
    width: 134px;
    height: 704px;
    overflow:hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.content{
  padding-top: 120px;
  flex: 1; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
}