
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #333;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
    height: 70px;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 1; 
  margin-right: 10px; 
}

.nav-links{
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}
.auth-links {
  display: flex;
  align-items: flex-start;
  margin-left:20px;
  
}
.nav-links a{
  color: white;
  align-items: flex-start;
  text-decoration: none;
  margin-left: 40px;
}


.auth-dropdown span {
  color: white;
  align-items: flex-start;
  text-decoration: none;
  margin-left:20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.auth-dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
}